* {
  box-sizing: border-box;
}

html {
  margin: 70px;
  padding: 80px;
}


body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-image: https://github.com/Mwedd9/interactive-interview-final-project/blob/master/Images%20/IMG_2670.jpg
}

h1{
 
  font-family:"Roboto", sans-serif;;
  color:#D12D44;
  font-size:40px;
  line-height:50px;


}

h2{
  margin-bottom:90px;
  font-size:20px;
  color:#FFF688;
  font-family:"Roboto", sans-serif;;

}

h3{
  margin-bottom:70px;
  font-size:20px;
  color:#300FFF;
  font-family: 'Roboto Slab', serif;
   width: 50%;

}



.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}
