* {
  box-sizing: border-box;
}


html {
  margin: 70px;
  padding: 80px;
}


body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  border-image: 1000vh;

}

/*img {
    width: 100%;
    height: auto;*/


h1{
 
  font-family:"Roboto", sans-serif;;
  color:#D12D44;
  font-size:40px;
  line-height:50px;


}

/*#contenders{
  color:red;
}*/
a{
  color:red;
  font-family:"Roboto", sans-serif;
  font-size: 50px;
  text-decoration: none;
}

h2{
  margin-bottom:90px;
  font-size:20px;
  color:#FFF688;
  font-family:"Roboto", sans-serif;

}

h3{
  margin-bottom:70px;
  font-size:20px;
  color:#300FFF;
  font-family: 'Roboto Slab', serif;
  width: 50%;

}

img {
    width: 50%;
    height: auto;


#Question-1{
  height: 50px;
  width:100px;
  background-color:#300FFF; 
  color:white;
  size:;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}
